td, th {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2;}


.flex-container {
  display: flex;
  flex-flow: row wrap;
}


.Teams {
  flex-grow: 1;
  flex-basis: 0;

}

.btn {
  color: black;
  background-color: white;
}

.btn-selected {
  color: white;
  background-color: green

}
